@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.body-home,
.body-login {
    background: url(/static/images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

}

.black-fill {
    /* background: rgba(0, 0, 0, 0.7); */
    min-height: 100vh;
}


.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightseagreen;
    clip-path: circle(40% at left -25%);
    background-repeat: no-repeat;

}

@media (max-width:600px) {


    .circle {
        clip-path: circle(40% at right -15%);
        ;
    }

}

.box {
    background-color:#FFFFFF;
}


#homeNav {
    background: rgba(255, 255, 255, 0.5) !important;
}

.welcome-text {
    min-height: 80vh;
}

.welcome-text img {
    width: 100px;
}

.welcome-text h4 {
    color: #eee;
    font-size: 60px;
    font-family: 'Lobster', cursive;

}

.welcome-text p {
    color: #222;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 4px;
}

#about {
    min-height: 100vh;
}

#about .card-1 {
    max-width: 600px;
    width: 90%;
    /* background: rgba(255, 255, 255, 0.5); */
    padding: 20px;
    border-radius: 5px;
}

#about .card-1 h5 {
    font-family: 'Lobster', cursive;
    font-size: 28px;
}

#contact {
    min-height: 100vh;
}

#contact form {
    max-width: 600px;
    width: 90%;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
}

#contact form h3 {
    text-align: center;
    font-family: 'Lobster', cursive;
}

.lob {
    font-family: 'Lobster', cursive;
}

textarea {
    resize: none;
}

.login {
    max-width: 500px;
    width: 90%;
    border: 2px solid #f7f7f7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #75c2f6;
}


.w-450 {
    width: 450px;
}

.n-table {
    max-width: 800px;
}

.form-w {
    max-width: 600px;
    width: 100%;
}