<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar bg-primary-subtle">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/admin/adminhome">
                <i class="fa-solid fa-house-user"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="fa-solid fa-users"></i><span>Manage Teachers</span><i
                    class="fa-solid fa-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/admin/createteacher">
                        <i class="fa-solid  fa-user-plus fs-6"></i>
                        <span>Create Teacher Account</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/admin/assign-duty">
                        <i class="fa-solid fa-tasks fs-6"></i>
                        <span>Manage Duty</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/admin/view-teachers">
                        <i class="fa-solid fa-users fs-6"></i>
                        <span>View Teacher List</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="fa-solid fa-user-graduate"></i><span>Manage Students</span><i
                    class="fa-solid fa-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/admin/create-student">
                        <i class="fa-solid fa-user-plus fs-6"></i>
                        <span>Create Student Account</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/admin/view-students">
                        <i class="fa-solid fa-users fs-6"></i>
                        <span>View Student List</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#course" data-bs-toggle="collapse" href="#">
                <i class="fa-solid fa-book"></i><span>Manage Subjects</span><i
                    class="fa-solid fa-chevron-down ms-auto"></i>
            </a>
            <ul id="course" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/admin/create-course">
                        <i class="fa-solid fa-plus fs-6"></i>
                        <span>Create Subject</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/admin/courses">
                        <i class="fa-solid fa-list fs-6"></i>
                        <span>View Subject Lists</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/viewfeedback">
                <i class="fa-solid fa-comments"></i>
                <span>Feedback</span>
            </a>
        </li><!-- End Profile Page Nav -->
    </ul>
</aside><!-- End Sidebar-->