<!-- ======= Footer ======= -->
<footer id="footer" class="footer bg-primary ">
    <div class="copyright text-white">
        &copy; Copyright <strong><span class='text-white'>university of computer studies</span></strong>.<span
            class='text-white'>All Rights
            Reserved </span>
    </div>
    <div class="credits text-white">
        Designed By Thaw Zin Htet
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>