<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="static/images/logo.avif" type="image/x-icon">

    <link rel="stylesheet" href="static/css/quiz.css">
    <style>
        body {
            padding: 0;
            margin: 0;
            background-color: gainsboro;
            color: blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }
    </style>
</head>

<body>
    Your not admin.This is admin route or admin page.You cannot enter this route.
</body>

</html>