<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-12 mb-5 mb-lg-0">

                <img src="/static/images/paradise.png" class="waa" alt="fa">

            </div>

            <div class="col-lg-3 col-md-8 col-12 mb-4 mb-md-0 mb-lg-0">
                <h6 class="site-footer-title mb-3" id="contact">Contact</h6>

                <p class="mb-2"><strong class="d-inline me-2">Phone:</strong> 09970774831</p>

                <p>
                    <strong class="d-inline me-2">Email:</strong>
                    <a href=" mailto:thawhtet077@gmail.com">thawhtet077@gmail.com</a>

                </p>
                <p><strong class="d-inline me-2"><a href="feedback">Feedback</a></strong></p>
            </div>

            <div class="col-lg-3 col-md-4 col-12">


                <div class="site-footer-thumb mb-4 pb-2">
                    <div class="d-flex flex-wrap">
                        <a href="#">
                            <img src="/static/images/app-store.png" class="me-3 mb-2 mb-lg-0 img-fluid" alt="">
                        </a>
                        <a href="#">
                            <img src="/static/images/play-store.png" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <h6 class="site-footer-title mb-3 text-dark">Social</h6>
                <ul class="social-icon">

                    <li class="social-icon-item">
                        <a href="https://www.youtube.com/@Hyperthaw" class="social-icon-link bi bi-youtube "></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="https://www.facebook.com/thaw.htet.6645211" class="social-icon-link bi-facebook "></a>
                    </li>


                </ul>
            </div>

        </div>
    </div>

    <div class="container pt-5">
        <div class="row align-items-center">

            <div class="col-lg-2 col-md-4 col-12">
                <a class="navbar-brand" href="studenthome">
                    <img src="/static/logo.png" class="logo-image img-fluid" alt="templatemo pod talk">
                </a>
            </div>

            <div class="col-lg-7 col-md-4 col-12">
                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="studenthome" class="site-footer-link text-dark">Homepage</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-12">
                <p class="copyright-text mb-0">Copyright © 2023 university of computer studies</p>
            </div>
        </div>
    </div>
</footer>