<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Magway Computer</div>
            <div class='text-success'>
                Developed By Thaw Zin Htet

            </div>
        </div>
    </div>
</footer>


</div>
</div>