<div class="col-md-3">
    <div class="sidebar bg-light p-3">
        <h5 class="text-dark mt-3">Teacher Functions</h5>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/post-question" class="nav-link active"><i class="fas fa-plus"></i> Post
                    Questions</a>
            </li>
            <li>
                <a href="/manage-titles" class="nav-link text-dark"><i class="fas fa-tachometer-alt"></i>
                    Manage Question Titles</a>
            </li>
            <li>
                <a href="/viewgrades" class="nav-link text-dark"><i class="fas fa-graduation-cap"></i>
                    Manage Grades</a>
            </li>
            <li>
                <a href="/view-results" class="nav-link text-dark"><i class="fas fa-chart-line"></i> View
                    Results</a>
            </li>
        </ul>
    </div>
</div>